<!--  File name : footer
      Author's name : Noah Michael
      Website name : Budget Manager
      File description : This file contains the footer and is common for all pages and is a .ejs type
-->

<footer class="alert-danger" text align="center">
  &copy; 2016 | Noah Michael
    <a href="https://github.com/noahhimself"><img src="/images/gitHubImage.png"
                                                  style="width:30px;height:28px;">

    </a>
</footer>
<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/jquery.validate.min.js"></script>
<script src="/javascripts/scripts.js"></script>
</body>
</html>