<!--  File name : add-item
      Author's name : Noah Michael
      Website name : Budget Manager
      File description : This page allows the user to add a purchase and is a .ejs type
-->

<% include partials/header.ejs %>

<h1>Add Purchase</h1>
<form method="post">
  <div class="form-group">
    <label class="lbl" for="itemPurchased">Item:*</label>
    <input name="itemPurchased" id="itemPurchased" required />
  </div>
  <div class="form-group">
    <label class="lbl" for="quantityPurchased">Quantity:*</label>
    <input name="quantityPurchased" id="quantityPurchased" required type="number" min="0" />
  </div>
  <div class="form-group">
    <label class="lbl" for="price">Price:*</label>
    <input name="price" id="price" required type="number" min="0" />
    <select name="currency" id="currency">
      <option>CAD</option>
      <option>USD</option>
    </select>
  </div>
  <button class="saveButton">Save</button>
</form>

<% include partials/footer.ejs %>